{% extends "base/base_map.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}

{%block stylesheet %}
     #map {
        height: 85%;
        width: 100%;
    }
{% endblock %}


{%block title %}
    {% if line %}
        <h1><a href='{% url "line_detail" line_id=line.pk %}'>Line {{line.pk}}: {{line.name}}</a></h1>
    {% else %}
        <h1>New line</h1>
    {% endif %}
{%endblock%}

{% block form %}

        <form action="" method="get">
            Search Location:
            <input type="text" name="search">
            <input type="submit" value="Submit">
        </form>

    <span>Enter coordinates by hand, or right click on the map</span>

    {{ form.media }}

    {{ form.non_field_errors }}
    {{ form.errors }}
    {% if address %}
    Address:    {{address}}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit">
    </form>

    <button onclick="remove_last_point()" type="button">Remove last point</button>

{% endblock %}

{% block js %}
    <script type="text/javascript">

        function map_init_basic (map, options) {

            map_right_click_line(map,options,point_link,waypoint_link );

            {% if line%}

                min_lat=parseFloat({{line.min_lat}})
                max_lat=parseFloat({{line.max_lat}})
                min_long=parseFloat({{line.min_long}})
                max_long=parseFloat({{line.max_long}})
                var mapBounds = L.latLngBounds([[min_lat, min_long],[max_lat,max_long]]);

            {% elif min_lat %}
                var mapBounds = L.latLngBounds([
                                [{{min_lat}}, {{min_long}}],
                                [{{max_lat}}, {{max_long}}],
                ]);
            {%else%}
                var mapBounds = L.latLngBounds([
                                    [{{lat}}-0.1, {{long}}-0.1],
                                    [{{lat}}+0.1, {{long}}+0.1],
                                ]);
            {%endif%}

            if (typeof mapBounds !="undefined"){mapBounds=mapBounds}else{mapBounds=null}

            init_map_base(map,options, mapBounds=mapBounds,add_basemaps=false)

            {% if line %}
                url='{% url 'line_json' line_id=line.pk %}'
                    console.log(url)

                    $.getJSON(url,function(data){
                        console.log(data)
                        read_data_leaflet_generic(data,geojsonMarkerOptions,map,options)
                    })
            {%endif%}
                    
        }


    // allow change of every only when every is chosen in reduce_points
    $( "#id_line_type" ).change(function () {
        console.log(  $("#id_line_type option:selected").attr('value'));
        if ( $("#id_line_type option:selected").attr('value')=="other"){
            $("#id_color").prop('disabled',false);
        }
        else{
            $("#id_color").prop('disabled', "disabled");
        }

    })
    .change();



    function remove_last_point () {

    document.getElementById("id_lats_text").value =remove_last_number(document.getElementById("id_lats_text").value);
    document.getElementById("id_long_text").value =remove_last_number(document.getElementById("id_long_text").value);
    document.getElementById("id_alts_text").value =remove_last_number(document.getElementById("id_alts_text").value);
    }

    function remove_last_number (text) {

    if (!text.endsWith(",")) text+=","
    parts = text.split(',');
    parts.pop();parts.pop();
    new_text = parts.join(',')
    if(new_text.length>0){new_text+=","}
    return new_text;
    }

    </script>
{%endblock%}

