{% extends "base/base_map.html" %}
{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}

{% block stylesheet %}
{{block.super}}
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
{% endblock %}

{% block title %}
    <h1>All lines</h1>
{% endblock %}

{% block map %}
    <div id="map">
    {%leaflet_map "map" callback="window.map_init_basic"%}
    </div>
{% endblock %}

{% block mapjs %}
<script type="text/javascript">
    

    function map_init_basic (map, options) {

    init_map_base(map,options,mapBounds=null,add_basemaps=false)

    url='{% url 'alllines_json'%}'
    console.log(url)

    $.getJSON(url,function(data){
console.log(data)
    //read_data_leaflet_alllines(data,geojsonMarkerOptions,map,options)
read_data_leaflet_generic(data,geojsonMarkerOptions,map,options)

    })


    }
</script>
{% endblock %}


