.vscode/
media/Camera/*
media/export/*
media/input_files/*
media/png/*
media/svg/*
media/upload/*
media/logs/*
*sqlite3
venv/*
venv_old/*
auth/*
requirements_old.txt
*pyc
static/js/external/old/*
static/css/old/*
*log


!media/Camera/.gitkeep
!media/export/.gitkeep
!media/input_files/.gitkeep
!media/png/.gitkeep
!media/svg/.gitkeep
!media/upload/.gitkeep
!media/logs/.gitkeep
!auth/.gitkeep