backcall==0.1.0
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
Django==2.2.13
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-inline-svg==0.1.1
django-leaflet==0.26.0
django-mathfilters==1.0.0
django-pandas==0.6.1
django-shell-plus==1.1.7
envparse==0.2.0
fastkml==0.11
geographiclib==1.50
geojson==2.5.0
geopy==1.21.0
google-api-core==1.17.0
google-api-python-client==1.8.0
google-auth==1.14.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
gpxpy==1.4.0
httplib2==0.18.0
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
kiwisolver==1.2.0
lxml==4.6.3
matplotlib==3.2.1
numpy==1.18.2
oauth2client==4.1.3
oauthlib==3.1.0
pandas==1.0.3
parso==0.7.0
pickleshare==0.7.5
Pillow==7.1.1
prompt-toolkit==3.0.5
protobuf==3.11.3
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDrive==1.3.1
pygal==2.4.0
pygeoif==0.7
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-memcached==1.59
python-tcxparser==1.1.0
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.4.1
selenium==3.141.0
simplekml==1.3.5
six==1.14.0
sklearn==0.0
sqlparse==0.3.1
timezonefinder==4.2.0
traitlets==4.3.3
uritemplate==3.0.1
urllib3==1.25.8
utm==0.5.0
wcwidth==0.1.9
