{% extends "base/base_map.html" %}
{% load static %}
{% load mathfilters %}
{% load leaflet_tags %}

{% block stylesheet %}
    {{block.super}}
        .leaflet-popup-content {
             width:auto !important;
             height: auto
        }

        body {
            padding: 0;
            margin: 0;
/*            background-image: url("{{track.photos.first.url_path}}"); this calls the view another time*/
            background-repeat: no-repeat;
            background-size: contain;
            background-color: rgba(238, 238, 238, 0.9);
            background-blend-mode: color;
        }
         #map {
            height: 500;
            width: 80%;
            float: left;
        }

            #svg_plot {
            height: 80%;
            width: 50%;
        }

            #table{
                float:left;
            }

            .axis path,
            .axis line{
                fill:none;
                stroke: black;
                shaüe-rendering: crispEdges;
            }

            .axis text{
            font-family: sans-serif;
            font-size: 11px;
            }

            circle:hover{
                fill:orange
            }

            .chart { width: 500px; height: 300px; }
            .chart-container { overflow: hidden; }
            #div1 { float: left; }
            #div2 { float: left; }
            #div3 { float: left; clear: left; }
            #div4 { float: left; }

            {% if track.svg_file %}
                .modal {
                    background: rgba( 255, 255, 255, .8 )
                                url("{{track.svg_file}}")
                                50% 50%
                                no-repeat;
                }
            {%endif%}
{%endblock%}


{% block head_title %}
    <title>Track {{track}}</title>
{% endblock %}

{%block title%}
{%endblock%}

{% block buttons %}
{%endblock%}

{%block plots%}
    <div id="plots_block">

        <div style = "clear:both;"></div>

        <div>

        <div style="float:left; margin-left: 2%">
            <div id="c3_11"      style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_21"      style="width:90%; "></div>
        </div>
        </div>
        <div style = "clear:both;"></div>

    <div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_12"    style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_22"    style="width:90%; "></div>
        </div>
    </div>
        <div style = "clear:both;"></div>

    <div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_13"      style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_23"      style="width:90%; "></div>
        </div>
    </div>
        <div style = "clear:both;"></div>

    <div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_14"    style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_24"    style="width:90%; "></div>
        </div>
    </div>
        <div style = "clear:both;"></div>

    <div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_15"    style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_25"    style="width:90%; "></div>
        </div>
    </div>
        <div style = "clear:both;"></div>

       <div style = "clear:both;"></div>

    <div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_16"    style="width:90%; "></div>
        </div>
        <div style="float:left; margin-left: 2%">
            <div id="c3_26"    style="width:90%; "></div>
        </div>
    </div>
            </div>
{% endblock %}

{%block table%}
{% endblock %}

{% block splits %}
    {% if track.has_times%}
        <div id ="div_splits">
            <h2> <a href="{% url 'splits' track_id=track.pk  %}?{{request}}">Splits</a>
                <button onclick="hide_show('splits_block')">Hide/Show</button>
            </h2>
            <div id="splits_block">

                    {% if splits or stats_splits %}
                        <div class="row" id ="table_splits" width=100% style="float: left">
                            <table id="splits_table">
                                <thead>
                                    <tr>
                                        <th>Split</th>
                                        <th>Length</th>
                                        <th>Duration</th>
                                        <th>Speed</th>
                                        <th>Pace</th>
                                        {% if track.td.frequencies %}<th>Frequency</th>{%endif%}
                                        {% if track.td.heartbeats %}<th>Heartrate</th>{%endif%}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in splits %}
                                    <tr>
                                        <td  data-sort={{l.number}}><font color="{{l.color}}">{{l.name}}</font></td>
                                        <td data-sort={{l.computed_length}}>{{l.computed_length|floatformat:-2}}km</td>
                                        <td>{{l.duration_string}}</td>
                                        <td data-sort={{l.avg_speed}}>{{l.avg_speed|floatformat:-2}}km/h</td>
                                        <td data-sort=-{{l.avg_speed}}>{{l.avg_pace}}</td>
                                        {% if track.td.frequencies %}<td>{{l.avg_frequency|floatformat:0}}</td>{%endif%}
                                        {% if track.td.heartbeats %}<td>{{l.avg_heartbeat|floatformat:0}}</td>{%endif%}
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                            </table>
                        </div>
                        <div id="c3_splits" style="float: left"></div>

                        <script>simple_table('#splits_table')</script>

                    {% endif %}
            </div>
        <div style = "clear:both;"></div>
        </div>

        <script>
                //////Splits
            {% if stats_splits %}
            var None=0
                y1_splits={{stats_splits.speeds}}
                y2_splits={{stats_splits.hrs}}
                y3_splits={{stats_splits.freqs}}


                //console.log(y1_splits,y2_splits,y3_splits);
                x1_splits=Array.from(y1_splits,(val,index)=>index+1);
                x2_splits=Array.from(y2_splits,(val,index)=>index+1);
                x3_splits=Array.from(y3_splits,(val,index)=>index+1);
                y1_splits.unshift("Speed");
                x1_splits.unshift("x_speed");
                xs1=[];
                xs1["Speed"]="x_speed";
                columns_splits=[x1_splits,y1_splits]
                {% if track.td.frequencies %}
                    xs1["Frequency"]="x_frequency";
                    y3_splits.unshift("Frequency");
                    x3_splits.unshift("x_frequency");
                    columns_splits.push(x3_splits)
                    columns_splits.push(y3_splits)
                {%endif%}

                {% if track.td.heartbeats %}
                    y2_splits.unshift("Heartrate");
                    xs1["Heartrate"]="x_heartrate";
                    x2_splits.unshift("x_heartrate");
                    columns_splits.push(x2_splits)
                    columns_splits.push(y2_splits)
                {%endif%}

                axes_splits={Speed:"y",Heartrate:"y2", Frequency:"y2"}

                var width=600
                var height=200
                var chart15=c3plot(xs1,columns_splits,[],"Splits","Speed(km/h)",'#c3_splits',type="line",mean_line=false,show_points=true,
                show_y2=true,
                axes=axes_splits,y2_label="Frequency, Heartrate").resize({height:height, width:width})
            {%endif%}
        </script>
    {% endif %}
{% endblock %}

{% block laps %}
    {% if track.has_times%}

        <div id="div_laps">
        {% if laps or stats%}
            <h2> <a href="{% url 'find_laps' track_id=track.pk  %}?reduce_points={{reduce_points}}">Laps</a>
                <button onclick="hide_show('laps_block')">Hide/Show</button>
            </h2>
            <div id="laps_block" >
                    <div class="row" id ="table_laps" width=100% style="float: left">
                        <table id="laps_table">
                            <thead>
                                <th>Lap</th>
                                <th>Length</th>
                                <th>Duration</th>
                                <th>Speed</th>
                                <th>Pace</th>
                                {% if track.td.frequencies %}<th>Frequency</th>{%endif%}
                                {% if track.td.heartbeats %}<th>Heartrate</th>{%endif%}
                            </thead>
                            <tbody>
                                {% for l in laps %}
                                {% if l.computed_length > 0 %}
                                    <tr>
                                        <td data-sort={{l.number}}><font color="{{l.color}}">{{l.name}}</font></td>
                                        <td>{{l.computed_length|floatformat:-2}}km  </td>
                                        <td>{{l.duration_string}}</td>
                                        <td data-sort={{l.avg_speed}}>{{l.avg_speed|floatformat:-2}}km/h</td>
                                        <td data-sort=-{{l.avg_speed}}>{{l.avg_pace}}</td>
                                        {% if track.td.frequencies %}<td>{{l.avg_frequency|floatformat:0}}</td>{%endif%}
                                        {% if track.td.heartbeats %}<td>{{l.avg_heartbeat|floatformat:0}}</td>{%endif%}
                                    </tr>
                                {%endif%}
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div id="c3_laps"  style="float: left"></div>
            </div>
            <script>simple_table('#laps_table')</script>
        {% endif %}
        <div style = "clear:both;"></div>
        </div>

        <script>
        //////////laps
            var None=0
            {% if stats %}
                y1_laps={{stats.speeds}}
                y2_laps={{stats.hrs}}
                y3_laps={{stats.freqs}}
                //remove before and after
                y1_laps.shift()
                y1_laps.pop()
                y2_laps.shift()
                y2_laps.pop()
                y3_laps.shift()
                y3_laps.pop()
                x1_laps=Array.from(y1_laps,(val,index)=>index+1);
                x2_laps=Array.from(y2_laps,(val,index)=>index+1);
                x3_laps=Array.from(y3_laps,(val,index)=>index+1);
                y1_laps.unshift("Speed")
                x1_laps.unshift("x_speed")
                xs1=[]
                xs1["Speed"]="x_speed"
                columns_laps=[x1_laps,y1_laps]
                axes_laps={Speed:"y",Heartrate:"y2", Frequency:"y2"}

                {% if track.td.frequencies %}
                    xs1["Frequency"]="x_frequency";
                    y3_laps.unshift("Frequency");
                    x3_laps.unshift("x_frequency");
                    columns_laps.push(x3_laps)
                    columns_laps.push(y3_laps)
                    console.log(x3_laps,y3_laps)
                {%endif%}

                {% if track.td.heartbeats %}
                    y2_laps.unshift("Heartrate");
                    xs1["Heartrate"]="x_heartrate";
                    x2_laps.unshift("x_heartrate");
                    columns_laps.push(x2_laps)
                    columns_laps.push(y2_laps)
                {%endif%}

                var width=600
                var height=200
                var chart15=c3plot(xs1,columns_laps,[],"Laps","Speed(km/h)",'#c3_laps',type="line",mean_line=false,show_points=true,show_y2=true,
                axes=axes_laps,y2_label="Frequency, Heartrate").resize({height:height, width:width})
            {%endif%}
        </script>
    {% endif %}
{% endblock %}

{%block cardio %}
{% endblock %}

{%block logs %}
{% endblock %}

{%block js%}
    <script type="text/javascript">
    function hide_show(id) {
      var x = document.getElementById(id);
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
    function hide(id) {
      var x = document.getElementById(id);
        x.style.display = "none";
    }
    function show(id) {
      var x = document.getElementById(id);
        x.style.display = "block";
    }

    function deletetrack_fct() {
        var r=confirm("Really delete track?");
        if (r == true) {
            location.href='{% url 'delete_track' track_id=track.pk  %}'
    }
    }

    function deletefile_fct() {
        var r=confirm("Really delete track and corresponding files?");
        if (r == true) {
            location.href='{% url 'delete_file' track_id=track.pk  %}'
    }
    }

    function deletefile_bl_fct() {
        var r=confirm("Really delete track and add to blacklist?");
        if (r == true) {
            location.href='{% url 'delete_track_bl' track_id=track.pk  %}'
    }
    }

    function plot_all_same_day(){

                        var ids=String({{track.pk}})+"_";
                        {% for t in tracks_same_day %}
                        ids+=String({{t.pk}})+"_"  ;
                        {% endfor %}
                        ids=ids.slice(0,-1)  //toglie l'ultimo _
                        console.log(ids);
                        if (ids) {
                        window.location="{% url 'many_tracks'%}?track_ids="+ids
                        }
    }

    </script>
{% endblock %}

{%block c3js%}
{% endblock %}

{%block mapjs %}
{%endblock%}

{%block form%}
{%endblock%}

{% block form0 %}{%endblock%}