{% extends "tracks/base_track.html" %}
{% load static %}
{% load mathfilters %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}

{% block stylesheet %}
    {{block.super}}
   <style> 
        #map {
            height: 100%;
        }
        #btn_tab_splits{
            display:none;
        }
        #btn_tab_laps,#btn_tab_waypoints{
            display:none;
        }
        #btn_tab_splits,#btn_tab_laps,#btn_tab_details,#btn_tab_files,#btn_tab_groups,#btn_tab_edit,#btn_tab_photos,#btn_tab_logs{
            display:none;
        }
    }
}
    </style>
{% endblock %}

{%block title%}

    <div style="width:20%; float:left; text-align: left;">
        {% if previous_subtrack_name %}
        <a href="{% url 'subtrack' track_id=track.pk subtrack_number=previous_subtrack_number %}">&larr; 
            <!-- {{previous_track.date}} -  -->
            {{previous_subtrack_name|truncatechars:30}} ({{previous_subtrack_number}})
            <!-- &larr; -->
        </a>
        {% else %}
        <br>
        {% endif %}
    </div>


    <div style="width:60%; float:left;  text-align: center; position:relative; top:-25px;height:100px">
        <h1 ><span style="vertical-align: top;"></span>
            <a href="{% url 'track_detail' track_id=track.pk %}?{{request|safe}}">{{track.name_wo_path_wo_ext}}</a>
             <br>{{subtrack_name}} ({{subtrack_number}})</h1>
    </div>

    {% if next_subtrack_name %}
    <div style="width:20%; float:left; text-align: left;">
        <a href="{% url 'subtrack' track_id=track.pk subtrack_number=next_subtrack_number %}">&rarr; 
            <!-- {{next_track.date}} -  -->
            {{next_subtrack_name|truncatechars:30}} ({{next_subtrack_number}})
            <!-- &larr; -->
        </a>
    </div>
    {% else %}
    <br>
    {% endif %}

    <div style="clear:both"></div>

{%endblock%}

{% block buttons %}
{%endblock%}

{%block map%}
    <div class="tabcontent" id="tab_map" style="display:block">
        <div id="map_block">
            <div style="height:70%">
    
                <div id="map">
                    {%leaflet_map "map" callback="window.map_init_basic"%}
                    <div class="modal"></div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{%block plots_title%}
    <div class="tabcontent" id="tab_plots"> <!--div closed in block plots -->
{%endblock%}

{%block table%}

    <!-- ----------------------details---------------------- -->
    <div class="tabcontent" id="tab_details">
    </div>

    <!-- --------------------files--------------------------- -->



    <!-- -------------------groups---------------- -->

    <!-- --------------------waypoints------------------------ -->

    <div class="tabcontent" id="tab_waypoints">
    </div>

    <!-- -----------------------photos----------------- -->

    <div class="tabcontent" id="tab_photos">
    </div>

    <!-- --------------------other--------------- -->
    <!-- <div class="tabcontent" id="tab_other"> -->



</div>



{%endblock %}


{%block mapjs %}
    <script type="text/javascript">
    function map_init_basic (map, options) {

    //parameters for plotting track

    {% if track.avg_dist_points and every %}
        nan=NaN
        radius=Math.max(Math.min({{track.avg_dist_points}}*{{every}},{{default_radius}}),1)
        if( Number.isNaN(radius)) radius={{default_radius}}
    {%else%}
        radius={{default_radius}}
    {%endif%}

    opacity=1
    fillopacity=0.5
    weight=3

    //starting params for bounds
    max_lat=-400
    min_lat=400
    max_long=-400
    min_long=400

    var None=NaN
    //bounds
    min_lat=Math.min(min_lat,{{track.min_lat}})
    max_lat=Math.max(max_lat,{{track.max_lat}})
    min_long=Math.min(min_long,{{track.min_long}})
    max_long=Math.max(max_long,{{track.max_long}})

    console.log(mapBounds)

    if (!isNaN(min_lat)&&!isNaN(max_lat)&&!isNaN(min_long)&&!isNaN(max_long) &&
            min_lat!=undefined && max_lat!=undefined && min_long!=undefined && max_long!=undefined){
            if (min_lat===max_lat){
                max_lat=max_lat+0.01
                min_lat=min_lat-0.01
            }
            if (min_long===max_long){
                max_long=max_long+0.01
                min_long=min_long-0.01
            }
        var mapBounds = L.latLngBounds([[min_lat, min_long],[max_lat,max_long]]);
        bound_fitted=true
    }else{
        var mapBounds=null
        bound_fitted=false
    }

    init_map_base(map,options, mapBounds=mapBounds,add_basemaps=false,track_pk={{track.pk}})


    ///////////geoJSON

    var geojsonMarkerOptions = {radius: radius,fillOpacity:fillopacity,stroke:true,opacity:opacity, weight:weight};
    url='{% url 'track_json_list_of_points' track_id=track.pk %}?reduce_points={{reduce_points}}&subtrack_number={{subtrack_number}}'

    alt=freq=hr=false
    speed=true
    {% if track.has_alts%}
        alt=true
    {% endif %}
    {% if track.has_freq%}
        freq=true
    {% endif %}
    {% if track.has_hr%}
        hr=true
    {% endif %}

    console.log(url)
    $.getJSON(url,function(data_tot){
        console.log("data_tot",data_tot)
        console.log("starting AJAX")
        var t0 = performance.now();

        if (!bound_fitted){
            max_lat=-400
            min_lat=400
            max_long=-400
            min_long=400
            for (k in data_tot["waypoints"]){
                min_lat=Math.min(min_lat, data_tot["waypoints"][k]["geometry"]["coordinates"][1])
                max_lat=Math.max(max_lat,data_tot["waypoints"][k]["geometry"]["coordinates"][1])
                min_long=Math.min(min_long,data_tot["waypoints"][k]["geometry"]["coordinates"][0])
                max_long=Math.max(max_long,data_tot["waypoints"][k]["geometry"]["coordinates"][0])
               }
               console.log(min_lat,max_lat,min_long,max_long)

            if (!isNaN(min_lat)&&!isNaN(max_lat)&&!isNaN(min_long)&&!isNaN(max_long)){
               if (min_lat===max_lat){
                   max_lat=max_lat-0.01
                   max_lat=max_lat+0.01
               }
               if (min_long===max_long){
                   min_long=min_long-0.01
                   max_long=max_long+0.01
               }
                var mapBounds = L.latLngBounds([[min_lat, min_long],[max_lat,max_long]]);
                map.fitBounds(mapBounds);
            }
        }

        ////Leaflet
       read_data_leaflet_generic(data_tot,geojsonMarkerOptions,map,options={})

        data=data_tot["Track"]["points"]

      //  read_data_leaflet(data_tot,"{{track.name_wo_path_wo_ext}}",geojsonMarkerOptions,map,
      //                          {"icons":icons,"alt":alt,"speed":speed,"freq":freq,"hr":hr})
        ////C3, use the same data as leaflet

         height=200
         width=550

        options1={
                    "type":"scatter",
                    "show_legend":false,
                    "height":height,
                    "width":width,
                    "x_type":"time",
                }
        options2={
                    "x_label":"Distance(km)",
                    "type":"line",
                    "show_legend":false,
                    "height":height,
                    "width":width,
                }
        //speed
        {% if track.has_times %}
            options1["y_label"]="Speed(km/h)"
            options1["bind_to"]="#c3_11"
            var chart1=c3plotjsondata(data,"DeltaTimeString",["Speed"],options1)
            options2["y_label"]="Speed(km/h)"
            options2["bind_to"]="#c3_21"
            var chart5=c3plotjsondata(data,"Distance", ["Speed"],options2)
        {% endif %}

      //alt //vertical speed
            console.log("data", data_tot)
        hide_absent_data(data_tot,document)

        {% if track.has_alts %}
            {% if track.has_times %}
                options1["y_label"]="Altitude(m)"
                options1["bind_to"]="#c3_14"
                var chart4=c3plotjsondata(data,"DeltaTimeString", ["Altitude"],options1)
            {% endif %}
            options2["y_label"]="Altitude(m)"
            options2["bind_to"]="#c3_24"
            var chart8=c3plotjsondata(data,"Distance", ["Altitude"],options2)
            {% if track.has_times %}
                options1["y_label"]="Slope(%)"
                options1["bind_to"]="#c3_13"
                var chart3=c3plotjsondata(data,"DeltaTimeString",["Slope"],options1)
            {% endif %}
            options2["y_label"]="Slope(%)"
            options2["bind_to"]="#c3_23"
            var chart7=c3plotjsondata(data,"Distance",["Slope"],options2)
        {% endif %}
        //heartrate
        {% if track.has_hr %}
            {% if track.has_times %}
                options1["y_label"]="Heartbeat(bpm)"
                options1["bind_to"]="#c3_16"
                options1["colors_"]="ColorHeartrate Group"
                options1["pointcolor"]=true
                var chart11=c3plotjsondata(data,"DeltaTimeString",["Heartrate"],options1)
            {% endif %}
            options1["colors_"]=undefined //reset
            options1["pointcolor"]=false //reset
            options2["y_label"]="Heartbeat(bpm)"
            options2["bind_to"]="#c3_26"
            var chart12=c3plotjsondata(data,"Distance",["Heartrate"],options2)
        {% endif %}
        //frequency //step length
        {% if track.has_freq %}
            {% if track.has_times %}
                options1["y_label"]="Frequency"
                options1["bind_to"]="#c3_12"
                var chart2=c3plotjsondata(data,"DeltaTimeString",["Frequency"],options1)
            {% endif %}
            options2["y_label"]="Frequency"
            options2["bind_to"]="#c3_22"
            var chart6=c3plotjsondata(data,"Distance",["Frequency"],options2)
            {% if track.has_times %}
                options1["y_label"]="Step Length(m)"
                options1["bind_to"]="#c3_15"
                var chart9= c3plotjsondata(data,"DeltaTimeString",["StepLength"],options1)
            {% endif %}
            options2["y_label"]="Step Length(m)"
            options2["bind_to"]="#c3_25"
            var chart10=c3plotjsondata(data,"Distance",["StepLength"],options2)
        {% endif %}


        // add photos
     add_photos_ajax(data_tot,links=true)

        var t1 = performance.now();
        console.log("AJAX call took " + (t1 - t0) + " milliseconds.")


    })






    }

    </script>
{%endblock%}

{% block form %}
    <div class="tabcontent" id="tab_edit">

            <div style="width:50%; float:left">
                <h2>Edit
                    <!-- <button class="hide_show_button" onclick="hide_show('edit_block')">Hide/Show</button> -->
                </h2>
                <div id="edit_block">
                    {{ form.media }}
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="OK">
                    </form>
                </div>
            </div>
    

            <div style="width:50%; float:left">
                <h2>Actions</h2>
                <div>
                    <h3>Delete</h3>
                        <button onclick="deletetrack_fct()" type="button">Delete track</button>
                        <button onclick="deletefile_fct()" type="button">Delete track and files</button>
                        <button onclick="deletefile_bl_fct()" type="button">Delete track and blacklist</button>
                    <h3>Export</h3>
                        <button onclick="location.href='{% url 'serialize_track' track_id=track.pk  %}'" type="button">Export json</button>
                        <button onclick="location.href='{% url 'track_to_gpx' track_id=track.pk  %}'" type="button">Export as GPX</button>
                        <button onclick="location.href='{% url 'track_to_kml' track_id=track.pk  %}'" type="button">Export as KML</button>
                    <!-- <button onclick="location.href='{% url 'find_laps' track_id=track.pk  %}?{{request|safe}}'" type="button">Find Laps</button> -->
                    <!-- <button onclick="location.href='{% url 'link_photos_track' track_id=track.pk  %}'" type="button">Link Photos</button> -->
                    <h3>Other</h3>
                        <button onclick="location.href='{% url 'geopy_track' track_id=track.pk  %}'" type="button">Get infos on endpoints</button>
                        <button onclick="location.href='{% url 'track_set_all_properties' track_id=track.pk  %}'" type="button">Refresh properties</button>
                    <!-- <button onclick="test_fct()" type="button">Test</button> -->
                </div>
            </div>

        <div style="clear:both">

    </div>
{% endblock%}