{% extends "base/base_map.html" %}
{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}


{% block head_title %}
    <title>Tracks Map</title>
{% endblock %}

{%block stylesheet%}
    {{block.super}}
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100%;
        }
    </style>
{%endblock%}

{% block mapjs %}

<script type="text/javascript">
  function map_init_basic (map, options) {


    init_map_base(map,options, mapBounds=null,add_basemaps=false)

    request="?"+"{{request|safe}}"
    url='{% url 'tracks_as_lines_json'%}'+request+"&use_color=1"
    console.log(url)


    $.getJSON(url,function(data){

    console.log(data)
    read_data_leaflet_generic(data,geojsonMarkerOptions,map,options)
   //read_data_leaflet_alltracks(data,geojsonMarkerOptions,map,options)

    })




    }
</script>


{%endblock%}