{% extends "groups/base_group.html" %}
{% load staticfiles%}

{% block title %}
<div><h1>Waypoints</h1></div>
{%endblock%}

{% block buttons %}
{%endblock%}

{% block map %}
{%endblock%}

{% block table %}
{%endblock%}


{% block content %}

<h2>All waypoints</h2>
<table>
<tr>
    <td>All waypoints: </td>
    <td>{{all_waypoints}}</td>
    <td><a href="{% url 'waypoints_map' %}">Map</a></td>
    </tr>
</table>

<div style="float: left";>
<h2>By date</h2>
<table >
{% for n_days, n_waypoints in count_dict.items %}

<tr>
    <td>Last {{n_days}} days: </td>
    <td>{{n_waypoints}}</td>
    <td><a href="{% url 'waypoints_map' %}?n_days={{n_days}}">Map</a></td>
</tr>
{%endfor%}
<tr>
    <td>Waypoints without date: </td>
    <td>{{nulldate_waypoints}}</td>
    <td><a href="{% url 'waypoints_map' %}?n_days=-1">Map</a></td>
</tr>
</table>
</div>


<div style="float: left";>
<h2>By Year</h2>
<table>
{% for a in count_years_list%}

    {%if a.year != 2100 %}
<tr>
    <td>{{a.year}}: </td>
    <td>{{a.n_waypoints}}</td>
    <td><a href="{% url 'waypoints_map' %}?year={{a.year}}">Map</a></td>
    {%endif%}
</tr>
{%endfor%}
</table>
</div>

<div style="float: left";>
<h2>By country</h2>

<table>
{% for c, n_waypoints in count_country_dict.items %}

<tr>
    <td>{%if c%}{{c}} {%else%} No country {%endif%}: </td>
    <td>{{n_waypoints}}</td>
    <td><a href="{% url 'waypoints_map' %}?country={{c}}">Map</a></td>
</tr>
{%endfor%}
</table>
</div>



    <h2><a href="{% url 'waypoints_map' %}?by_id=100">Last waypoints by ID</a></h2>

{% endblock %}

{% block js %}
<script>

</script>
{%endblock%}

