{% extends "base/base_map.html" %}

{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}

{%block buttons%}
    <button onclick="location.href='{% url 'create_waypoint' %}'" type="button">New waypoint</button>
{%endblock%}

{% block map %}
    {% if view_type == "map" or view_type == "map_table" %}
        {{block.super}}
    {% endif %}
{%endblock%}


{%block head_title %}
    <title>Waypoints</title>
{%endblock%}

{%block form0%}
    <div style="float: left width= 25%";>
        <h2>Search -  <a href="{% url 'waypoint_gen_index' %}">Default searches</a> 
            <button onclick="$('#form_id').toggle()">Hide/Show</button>
        </h2>
        <div id="form_id">
            <form method="GET" action="" id="searchform">
                <div class="row">
                    <div class="column">
                        <b>Direct choice</b>
                        {{wps_form.media}}
                        {{wps_form.as_p}}
                        {{wps_form.errors}}
                        {{wps_form.non_field_errors}}

                
                        <h4>Position</h4>
                        <table>
                            <tr><td>Country</td><td><select  id="searchbox5" name="country">
                                {% for c in country_options %}
                                    <option value='{{c}}'{% if c and c == country %} selected {%endif%}>{{c}}</option>
                                {% endfor %}
                                </select></td></tr>
                            <tr><td>Timezone</td><td><select  id="searchbox15" name="time_zone">
                                    {% for c in timezone_options %}
                                        <option value='{{c}}'{% if c and c == time_zone %} selected {%endif%}>{{c}}</option>
                                    {% endfor %}
                                    </select></td></tr>
                            <tr><td>Latitude</td><td><input class="searchfield" id="searchbox_lat" name="lat" type="text" value="{{lat}}" placeholder="Lat"/></td></tr>
                            <tr><td>Longitude</td><td><input class="searchfield" id="searchbox_long" name="lng" type="text" value="{{lng}}" placeholder="Long"/></td></tr>
                            <tr><td>Distance</td><td><input class="searchfield" id="searchbox14" name="dist" type="number" value="{{dist}}" placeholder="Dist"/></td></tr>
                            <tr><td>Address</td><td><input class="searchfield" id="searchbox10" name="address" type="text" value="{{address}}" placeholder="Address"/></td></tr>
                        </table>

                    </div>
                    <div class="column">
                        <h4>Name</h4>
                        Name &nbsp;<input class="searchfield" id="searchbox1" name="name" type="text" value="{{name}}" placeholder="Name"/><br>

                        <h4>Time</h4>
                        <table>
                            <tr><td>Last n days</td><td><input class="searchfield" id="searchbox2" name="n_days" type="number" value="{{n_days}}" placeholder="Last n days"/></td></tr>
                            <tr><td>Year</td><td><select  id="searchbox3" name="year">
                                {% for y in year_options %}
                                    <option value='{{y}}'{% if y and y == year %} selected {%endif%}>{{y}}</option>
                                {% endfor %}
                                </select></td></tr>
                            <tr><td>Min date</td><td><input class="searchfield" id="searchbox8" name="min_date" type="date" value="{{min_date}}" data-date-format="DD MM YYYY" placeholder="Min date"/></td></tr>
                            <tr><td>Max date</td><td><input class="searchfield" id="searchbox9" name="max_date" type="date" value="{{max_date}}" placeholder="Max date"/></td></tr>
                        </table>


                    </div>
                    <div class="column">
                        <b>Track / Group</b>
                        {{group_form.media}}
                        {{group_form.as_p}}
                        {{group_form.errors}}
                        {{group_form.non_field_errors}}
                        {{track_form.media}}
                        {{track_form.as_p}}
                        {{track_form.errors}}
                        {{track_form.non_field_errors}}


                        <h4>Other</h4>
                            <table>
                                <tr><td>Term</td><td><input class="searchfield" id="searchbox7" name="q" type="text" value="{{q}}" placeholder="Search for info/description"/></td></tr>
                                <tr><td>Max results</td><td><input class="searchfield" id="searchbox11" name="how_many" type="number" value="{{how_many}}" placeholder="How many"/></td></tr>
                                <tr><td>Last waypoints by ID</td><td><input class="searchfield" id="searchbox20" name="by_id" type="number" value="{{by_id}}" placeholder="By ID"/></td></tr>
                                <tr><td>View</td><td><select  id="searchbox21" name="view_type">
                                    <option value='map_table'{% if view_type == "map_table" %} selected {%endif%}>Map & Table</option>
                                    <option value='map'{% if view_type == "map" %} selected {%endif%}>Map</option>
                                    <option value='table'{% if view_type == "table" %} selected {%endif%}>Table</option>
                                </select></td></tr>

                            </table>
                        
                    </div>
                </div>

                <div class="buttons">
                    <input type="submit" value="Search" id="submit_button" class="submit_button button">
                    <button type="button" onclick="window.location.href = '{% url  'waypoints_map' %}?no_search=1'" class="reset_button  button">Reset</button>
                </div>
            </form>
        </div>
    </div>
{%endblock%}

{% block stylesheet %}
  {{block.super}}
    body {
      padding: 0;
      margin: 0;
    }
    html, body, #map {
      height: 80%;
      width: 100%;
    }
{% endblock%}



{% block js %}
<script type="text/javascript">

url='{% url 'allwps_json'%}?{{request}}'
console.log(url)


{% if view_type == "map" or view_type == "map_table" %}
    function map_init_basic (map, options) {

        lat="{{initial_lat}}"
        long="{{initial_long}}"
        if (lat && long){
            try{
                lat=parseFloat(lat)
                long=parseFloat(long)
                var mapBounds = L.latLngBounds([
                    [lat-0.1, long-0.1],
                    [lat+0.1, long+0.1],
                ]);
            }catch(error){
                var mapBounds=null 
            }
        }

        init_map_base(map,options, mapBounds=mapBounds,add_basemaps=false)

        $.getJSON(url,function(data){

            read_data_leaflet_generic(data,geojsonMarkerOptions,map,options)

            {% if view_type == "map_table" %}
                //if it comes out clustered, redo the call without clustering
                if (data ["Waypoints"][0] && data["Waypoints"][0]["elements"]){
                    url='{% url 'allwps_json'%}?{{request}}&do_cluster=0'
                    $.getJSON(url,function(data){
                        console.log("data is clustered, calling", url)
                        var table=create_table_waypoints('#import_table',data["Waypoints"],"{% url 'waypoints_map' %}")
                    })
                //otherwise, use same data
                }else{
                    console.log("data is not clustered, go on")
                    var table=create_table_waypoints('#import_table',data["Waypoints"],"{% url 'waypoints_map' %}")
                }
            {% endif %}
        })
    }
{% endif %}



  $( document ).ready(function() {

    {% if view_type == "table" %}

        $.getJSON(url,function(data){
            if (data ["Waypoints"][0] && data["Waypoints"][0]["elements"]){
                url='{% url 'allwps_json'%}?{{request}}&do_cluster=0'
                $.getJSON(url,function(data){
                    console.log("data is clustered, calling", url)
                    var table=create_table_waypoints('#import_table',data["Waypoints"],"{% url 'waypoints_map' %}")
                })
            //otherwise, use same data
            }else{
                console.log("data is not clustered, go on")
                var table=create_table_waypoints('#import_table',data["Waypoints"],"{% url 'waypoints_map' %}")
            }
        })
    {% endif %}

        // pass ids parameters instead of tracks
        $("#submit_button").click(function(){        
            input = $("#id_tracks").val()
            console.log("input",input)
            if (input && input.length>0){
                ids=""
                for (i in input){
                    ids+=String(input[i])+"_"
                }
                ids=ids.slice(0,-1)  //toglie l'ultimo _
                $('#searchform').attr("ids2",ids);
                $("#searchform").append('<input type="hidden" name="track_ids" value='+ids+' /> ');
                $('#id_tracks').remove(); //dont pass tracks parameters
            }
            input = $("#id_waypoints").val()
            console.log("input",input)
            if (input && input.length>0){
                ids=""
                for (i in input){
                    ids+=String(input[i])+"_"
                }
                ids=ids.slice(0,-1)  //toglie l'ultimo _
                $('#searchform').attr("ids3",ids);
                $("#searchform").append('<input type="hidden" name="wps_ids" value='+ids+' /> ');
                $('#id_waypoints').remove(); //dont pass waypoints parameters
            }
           // $("#searchform").submit(); // Submit the form


        });

  })
</script>



</body>
</html>

{% endblock %}

{% block table %}
    {% if view_type == "table" or view_type == "map_table" %}
        <div id="block_table">
            <table id="import_table">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Time</td>
                        <td>Altitude</td>
                        <td>Track</td>
                        <td>Country</td>
                        <td>Region</td>
                        <td>City</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {%endif%}
{%endblock%}