{% extends "base/base.html" %}
{% load staticfiles%}

{% load crispy_forms_tags %}

{% block head_title %}
    {% if obj %}
        <title>Rule {{obj.name}}</title>
    {% else %}
        <title>New Rule</title>
    {%endif %}
{% endblock %}

{% block title %}
    {% if obj %}
        <div><h1>Rule {{obj.name}}</h1></div>
    {% else %}
        <div><h1>New Rule</h1></div>
    {%endif %}
{%endblock%}

{% block buttons %}
    {% if obj %}
        <button onclick="deleterule_fct()" type="button">Delete rule</button>
    {%endif %}
{%endblock%}


{% block js %}
    <script>
        {% if obj %}
            function deleterule_fct() {
                var r=confirm("Really delete rule?");
                if (r == true) {
                    location.href='{% url 'group_rule_delete' rule_id=obj.pk  %}'
                }
            } 
        {%endif %}

        $( "#rule_choice" ).change(function() {
            name=$("#rule_choice").find('option:selected').text()
            string=$("#rule_choice").find('option:selected').attr('string')
            $("#id_name").val(name)
            if (string){
                $("#old_string").html("Old query string: "+string)
            }else{
                $("#old_string").html("")
            }
            console.log(string)
            console.log(name)
        });
    </script>
{%endblock%}


{% block content %}

{% endblock %}


{% block form %}
  <br>
   <form method="POST" action=""" id="searchform">
        {% csrf_token %}
        {% if all_rules and not obj %}
            <label for="rule_choice">Update following rule (leave blank to create new object):</label>
            <select name="rule_choice" id="rule_choice">
                <option value="" selected>---</option>
                {%for rule in all_rules %}
                    <option value="{{rule.pk}}" string={{rule.query_string}}>{{rule.name}}</option>
                {%endfor %}
            </select><br><br>
            <div id="old_string"></div><br>
        {%endif%}

        {{ form}}

        <input type="submit"  name="rule_form" value="Submit">
    </form>


    {% if obj %}
        <a href="{% url 'track_index' %}{{obj.request_string}}" >Track list</a>

        {% if obj.group_set.all %}
            <h2>Groups</h2>
            {% for group in obj.group_set.all %}
                <a href="{% url 'group_detail' group_id=group.pk %}" >{{group}}</a><br>
            {% endfor %}
        {% endif %}

        <h2>Tracks</h2>
        <p>Rule corresponds to {{n_tracks}} tracks </p>

    {% endif %}
{%endblock%}

{% block form0 %}

{%endblock%}