{% extends "base/base.html" %}

{% block map %}
{% endblock %}

{% block content %}

<h1>About</h1>

<h3>Main libraries used</h3>
<h4>Backend</h4>
<ul>
    <li><a href="https://www.djangoproject.com/">Django</a> 2.2  for the web application</li>
    <li><a href="https://github.com/tkrajina/gpxpy">gpxpy</a> to read and export gpx files</li>
    <li><a href="https://pypi.org/project/python-tcxparser/">tcx</a> to read tcx files</li>
    <li><a href="https://github.com/cleder/fastkml">fastkml</a> and <a href="https://pypi.org/project/simplekml/0.7.0/">simplekml</a> to read and export KML files</a></li>
    <li><a href="https://pandas.pydata.org/">pandas</a> to read csv files</li>
    <li><a href="https://github.com/geopy/geopy">geopy</a> for geocoding</li>
    <li><a href="https://github.com/cyberjunky/python-garminconnect">Python: Garmin Connect</a> for download from Garmin</li>
</ul>

<h4>Frontend</h4>
<ul>
    <li> <a href="https://github.com/makinacorpus/django-leaflet"> Django Leaflet</a> for maps</li>
    <li> <a href="https://github.com/c3js/c3"> c3</a> for plots</li>
    <li> <a href="https://github.com/DataTables/DataTables"> DataTables</a> for tables</li>
    <li> <a href="https://github.com/leaflet-extras/leaflet-providers"> leaflet-providers</a> for the list of basemaps</li>
    <li> <a href="https://github.com/d3/d3/"> d3</a> </li>
    <li> <a href="https://github.com/bjpop/saveSvgAsPng"> saveSvgAsPng</a> </li>
    <li> <a href="https://github.com/Leaflet/Leaflet.fullscreen"> Leaflet.fullscreen</a> </li>
    <li> <a href="https://github.com/ismyrnow/leaflet-groupedlayercontrol"> leaflet-groupedlayercontrol</a> </li>
    <li> <a href="https://github.com/jquery/jquery/"> jquery</a> </li>
    <li> <a href="https://stuk.github.io/jszip/"> jszip</a> </li>
</ul>
{%endblock%}