{% extends "base/base.html" %}

{% block map %}
{% endblock %}

{% block content %}

<h1>Help</h1>


<h2>Map</h2>

<h2>Tracks</h2>

    <h3>Supported file formats</h3>


    <ul>

        <li><a href="https://en.wikipedia.org/wiki/GPS_Exchange_Format">gpx</a>: this is the standard </li>
        <li><a href="https://developers.google.com/kml/">kml</a>: this it the standard developed by Google</li>
        <li>kmz: a kmz file is simply a compressed kml file, hence it shares all its features</li>
        <li><a href="https://en.wikipedia.org/wiki/Training_Center_XML">tcx</a>: this is the standard introduced by Garmin; it supports</li>
        <li>csv: this is a general data format; the program parses csv files from TomTom and Polar</li>

    </ul>

<h2>Waypoints</h2>
Waypoints are automatically imported with tracks, or can be created by hand

<h2>Groups</h2>
Tracks can be manually assigned to groups of tracks.
Some groups are also created automatically.


<h2>Photos</h2>


<h2>Lines</h2>


<h2>GeoJSON objects</h2>

<h2>Users</h2>

<h2>Import</h2>

<h2>Logs</h2>

<h2>Options</h2>

<h2>Admin</h2>


Note that the format by TomTom, fit, is a binary file which cannot be freely read.

{%endblock%}