{% extends "base/base.html" %}
    {% load leaflet_tags %}
    {% load mathfilters %}
    {% load static %}

{%block map%}{%endblock%}

{%block buttons %}
    <a href="{% url 'photos_map' %}?{{request}}">Photos Map  </a>
    <a href="{% url 'photos_show' %}?{{request}}">Only Photos</a>
{%endblock%}


{%block title%}
    <h2>Photos</h2>
{%endblock%}

{% block table %}
    <div id="block_table">
        <table id="import_table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Preview</td>
                    <td>Name</td>
                    <td>Time</td>
                    <td>Country</td>
                    <td>Region</td>
                    <td>City</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
{%endblock%}

{%block js %}
    <script>
     url='{% url 'allphotos_json'%}?{{request}}&do_cluster=0&level=1'

     $.getJSON(url,function(data){
        console.log(url)
        console.log(data)
        var table=create_table_photos('#import_table',data["Photos"],'{% url 'photos_show' %}')
        })
    </script>
{%endblock%}