{% extends "groups/base_group.html" %}
{% load staticfiles%}

{% block title %}
<div><h1>Photos</h1></div>
{%endblock%}

{% block buttons %}
{%endblock%}

{% block map %}
{%endblock%}

{% block table %}
{%endblock%}


{% block content %}

<h2>All photos</h2>
<table>
<tr>
    <td>All photos: </td>
    <td>{{all_photos}}</td>
    <td><a href="{% url 'photos_show' %}">Photos</a></td>
    </tr>
</table>

<div style="float: left";>
<h2>By date</h2>
<table >
{% for n_days, n_photos in count_dict.items %}

<tr>
    <td>Last {{n_days}} days: </td>
    <td>{{n_photos}}</td>
    <td><a href="{% url 'photos_show' %}?n_days={{n_days}}">Photos</a></td>
</tr>
{%endfor%}
<tr>
    <td>Photos without date: </td>
    <td>{{nulldate_photos}}</td>
    <td><a href="{% url 'photos_show' %}?n_days=-1">Photos</a></td>
</tr>
</table>
</div>


<div style="float: left";>
<h2>By Year</h2>
<table>
{% for a in count_years_list%}

    {%if a.year != 2100 %}
<tr>
    <td>{{a.year}}: </td>
    <td>{{a.n_photos}}</td>
    <td><a href="{% url 'photos_show' %}?year={{a.year}}">Photos</a></td>
    {%endif%}
</tr>
{%endfor%}
</table>
</div>

<div style="float: left";>
<h2>By country</h2>

<table>
{% for c, n_photos in count_country_dict.items %}

<tr>
    <td>{%if c%}{{c}} {%else%} No country {%endif%}: </td>
    <td>{{n_photos}}</td>
    <td><a href="{% url 'photos_show' %}?country={{c}}">Photos</a></td>
</tr>
{%endfor%}
</table>
</div>



    <h2><a href="{% url 'photos_show' %}?by_id=100">Last photos by ID</a></h2>

<div style="clear: left";></div>
<div style="float: left";>
{% endblock %}

{% block js %}
<script>

</script>
{%endblock%}

