{% extends "base/base.html" %}

{% load leaflet_tags %}
{% load mathfilters %}
{% load static %}

{%block title%}
    <h1>All files</h1>
{%endblock%}

{% block buttons %}
    <button onclick="location.href='{% url 'import' %}'" type="button">Import Index</button>
{%endblock%}


{%block table%}

<h2>Imported Files</h2>

<div class="row">
        <table class="table table-bordered table-hover" id="import_table1">
        <thead>
        <tr>
            <td>File</td>
        </tr>
        </thead>
        <tbody>
            {% for file in all_files.imported_tracks_existing_files %}
            <tr>
                <td>{{file}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<h2>Tracks without import files</h2>

<div class="row">
        <table class="table table-bordered table-hover" id="import_table2">
        <thead>
        <tr>
            <td>File</td>
        </tr>
        </thead>
        <tbody>
            {% for file in all_files.imported_tracks_missing_files %}
            <tr>
                <td>{{file}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

<h2>Files to be imported</h2>

<div class="row">
        <table class="table table-bordered table-hover" id="import_table3">
        <thead>
        <tr>
            <td>File</td>
        </tr>
        </thead>
        <tbody>
            {% for file in all_files.missing_tracks_existing_files %}
            <tr>
                <td>{{file}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


<h2>Blacklisted Files</h2>

<div class="row">
        <table class="table table-bordered table-hover" id="import_table4">
        <thead>
        <tr>
            <td>File</td>
        </tr>
        </thead>
        <tbody>
            {% for file in all_files.blacklisted_tracks %}
            <tr>
                <td>{{file}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{%endblock%}


{%block js%}
<script>
    $(document).ready( function () {
        var events = $('#events');
        var table =    $('.table')
        .DataTable({
            paging: false,
            "order": [[ 0, "asc" ]],
            dom: 'Bfrtip',
            select: false,
            searching: false, 
            info: false,
            buttons:[],
            });
    } );
</script>
{%endblock%}


{% block map%}{%endblock%}