{% extends "base/base.html" %}

{% block map %}
{% endblock %}

{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}

{%block stylesheet%}
<style>
    #tab_tracks{
        display: block;
    }
    img {height: 1em;}
</style>

{%endblock%}

{% block content %}
<h1>Import</h1>

    <div class="tab">
        <button class="tablinks active" id="btn_tab_tracks" onclick="open_tab(event, 'tab_tracks')"><h2>Tracks</h2></a></li>
        <button class="tablinks " id="btn_tab_photos" onclick="open_tab(event, 'tab_photos')"><h2>Photos</h2></a></li>
        <button class="tablinks" id="btn_tab_delete" onclick="open_tab(event, 'tab_delete')"><h2>Delete</h2></a></li>
        <button class="tablinks" id="btn_tab_quickimport" onclick="open_tab(event, 'tab_quickimport')"><h2>Quick Import</h2></a></li>
        <button class="tablinks" id="btn_tab_statistics" onclick="open_tab(event, 'tab_statistics')"><h2>Statistics</h2></a></li>
    </div>
        


<div class="tabcontent" id="tab_tracks">

    <p>Put files in <b>{{tracks_dir}}</b>, they will be automatically recognized for import (with extensions <b>gpx, kml, kmz, tcx, csv</b>). <br>
        IMPORTANT: the system gives a track its name by taking the name of each file without its path and extension.
    If more files have the same name without path and extension, they will be mapped to the same track!</p>

    <table>
        <tr><td><b>Files ready to be imported</b></td>
            <td>    <button id="id_tobeimported_files_button" disabled onclick="location.href='{% url 'import_new_tracks'  %}'" type="button">Import</button>            </td>
            <td id="id_tobeimported_files"><img src="/static/gif/FhHRx.gif"></td>
        </tr>
        <tr><td>Total files</td><td></td><td id="id_total_files"><img src="/static/gif/FhHRx.gif"></td></tr>
        <tr><td>Corresponding to imported tracks</td><td></td><td id="id_imported_files"><img src="/static/gif/FhHRx.gif"></td></tr>
        <tr><td>Blacklisted</td><td></td><td id="id_blacklisted_files"><img src="/static/gif/FhHRx.gif"></td></tr>
    </table>
    <button onclick="location.href='{% url 'all_files_report'  %}'" type="button">See details</button>


    <h3>Import</h3>
        <form method="GET" action="{% url 'import_update_tracks' %}" id="import_upload_tracks_form">
            Extensions
            <select name="ext" size="5" multiple>
                <option value=".gpx">GPX</option>
                <option value=".kml">KML</option>
                <option value=".kmz">KMZ</option>
                <option value=".csv">CSV</option>
                <option value=".tcx">TCX</option>
            </select> 
            <input type="checkbox" name="update" value=1>Update existing tracks
            <input type="checkbox" name="import_new_extensions" value=1>Update existing tracks if extension is new
            <input type="submit" value="Submit" id ="submit_button_tracks">
        </form>



    <!-- <h1>Tracks</h1> -->
    <h3>Download</h3>
    <p>You can configure for automatic download from Google Drive and TomTom.</p>
    <button {% if not ok_tomtom %}disabled {%endif%} title="Requires TomTom username and password set in Options" onclick="location.href='{% url 'download_tomtom'  %}'" type="button">Download from TomTom</button>
    <button {% if not ok_google %}disabled {%endif%} title="Requires Google Tracks directory names set in Options. An interactive login page will be shown."onclick="location.href='{% url 'google_drive_tracks'  %}'" type="button">Download from Google Drive</button><br>

    <h3>Other</h3>
    <h4> <a href="{% url 'index_blacklist' %}">Blacklist</a></h4>
    <h4> <a href="{% url 'merged_tracks_index' %}">Merged tracks</a></h4>
    <h4> <a href="{% url 'duplicated_files' %}">Duplicated files </a></h4>




    <button onclick="location.href='{% url 'tracks_set_all_properties'  %}'" type="button">Refresh properties all tracks</button>

    {%if show_timeline %}
    <h3><a href="{% url 'history_files'%}">Google Timeline</a></h3>
        <button onclick="location.href='{% url 'download_googlehistory'  %}'" type="button">Download Google history tracks (experimental, needs chromium drivers)</button><br>
    {%endif%}


    <!-- <h3>Upload file(s) and import</h3>
    <form method="post" enctype="multipart/form-data"  action="{% url 'upload_track'%}">
        {% csrf_token %}
        <input type="file" name="file" multiple />
        <br />
        <input title="Manually upload one or more GPS files" type="submit" value="Upload File" />

    </form> -->


    <!-- <button onclick="location.href='{% url 'geopy_tracks'  %}'" type="button">Get infos on endpoints</button> -->



    <!-- <h3>Export tracks</h3>
    <button onclick="location.href='{% url 'serialize_tracks'  %}'" type="button">Export as JSON</button> -->


    <!-- <h1>Waypoints</h1>
    <button onclick="location.href='{% url 'geopy_waypoints'  %}'" type="button">Get infos on waypoints</button>
    <button onclick="location.href='{% url 'serialize_waypoints'  %}'" type="button">Export as JSON</button> -->
</div>

<div class="tabcontent" id="tab_photos">
    <!-- <h1>Photos</h1> -->
    <p>Put files in <b>{{photos_dir}}</b>, they will be automatically recognized for import (with extension <b>jpg</b>). <br>
        It is also possible to edit the ADDITIONAL_PHOTO_DIRS variable in the .env file to add other folders where to look for photos; current dirs are <b>{{all_photos_dirs}}</b>.<br>
        IMPORTANT: the system gives a photo its name by taking the name of each file without its path and extension.
    If more files have the same name without path and extension, they will be mapped to the same photo!</p>


    <table>
        <tr><td><b>Files ready to be imported</b></td>
            <td>    <button id="id_tobeimported_photos_button" disabled onclick="location.href='{% url 'import_new_photos'  %}'" type="button">Import</button>
            </td><td id="id_tobeimported_photos"><img src="/static/gif/FhHRx.gif"></td></tr>
        <tr><td>Total files</td><td></td><td id="id_total_photos"><img src="/static/gif/FhHRx.gif"></td></tr>
        <tr><td>Corresponding to imported photos</td><td></td><td id="id_imported_photos"><img src="/static/gif/FhHRx.gif"></td></tr>
    </table>

    <button onclick="location.href='{% url 'all_photos_report'  %}'" type="button">See details</button>

    <h3>Import</h3>
    <button onclick="location.href='{% url 'import_photos'  %}'" type="button">Import photos</button><br>
    <button onclick="location.href='{% url 'update_photos'  %}'" type="button">Update photos</button><br>
    <button onclick="location.href='{% url 'link_photos'  %}'" type="button">Link photos to tracks</button>


    <h3>Download</h3>
    <button title="Requires Google Drive photos directories set in Options" onclick="location.href='{% url 'google_drive_photos'  %}'" type="button">Download Photos from Google Drive</button><br>
    <button title="Look for all photos in Google Photos startin from the initial year set in Options" onclick="location.href='{% url 'google_photos'  %}'" type="button">Download Photos from Google Photos</button>


    <h4> <a href="{% url 'duplicated_photos' %}">Duplicated photos </a></h4>
    <!-- <button onclick="location.href='{% url 'geopy_photos'  %}'" type="button">Get infos on photo locations</button> -->
    <!-- <button onclick="location.href='{% url 'serialize_photos'  %}'" type="button">Export as JSON</button> -->

</div>

<div class="tabcontent" id="tab_delete">
    <!-- <h1>Delete</h3> -->
    <h3>Tracks</h3>
    <button onclick="deleteemptytracks_fct()" type="button">Delete empty tracks</button><br>
    <button onclick="deletetracks_fct()" type="button">Delete all tracks</button><br>
    <h3>Waypoints</h3>
    <button onclick="deletewps_fct()" type="button">Delete all waypoints</button>
    <h3>Lines</h3>
    <button onclick="deletelines_fct()" type="button">Delete all lines</button>
    <h3>Groups</h3>
    <button onclick="deletegroups_fct()" type="button">Delete all groups</button>
    <h3>Photos</h3>
    <button onclick="deletephotos_fct()" type="button">Delete all photos</button>
</div>    
    

<div class="tabcontent" id="tab_quickimport">
    <p>It is possible to set up quick procedures of import, which are available in the home page.</p>
    <table>
        <thead><th>Name</th><th>Steps</th><th>Active</th></thead>
        {% for qi in quick_imports %}
            <tr><td><a href="{% url 'quick_import_edit' id=qi.pk  %}">{{ qi.name }}</a></td><td>{% for step in qi.steps.all %}{{step}};{%endfor%}</td><td>{{qi.active}}</td></tr>
        {% endfor %}
    </table>
    <button onclick="location.href='{% url 'quick_import_edit'  %}'">New</a>
</div>

<div class="tabcontent" id="tab_statistics">
    <table>
        <thead><td></td><td><b>#</b></td><td><b>First</b></td><td><b>Last</b></td></thead>
        <tr><td><b>Tracks</b></td><td>{{n_tracks}}</td><td>{{first_track.date|date:'Y-m-d'}}</td><td>{{last_track.date|date:'Y-m-d'}}</td></tr>
        <tr><td><b>Photos</b></td><td>{{n_photos}}</td><td>{{first_photo.time|date:'Y-m-d'}}</td><td>{{last_photo.time|date:'Y-m-d'}}</td></tr>
        <tr><td><b>Waypoints</b></td><td>{{n_waypoints}}</td><td></td><td></td></tr>
        <tr><td><b>Groups</b></td><td>{{n_groups}}</td><td></td><td></td></tr>
        <tr><td><b>Lines</b></td><td>{{n_lines}}</td><td></td><td></td></tr>
        <tr><td><b>GeoJSON</b></td><td>{{n_geojson}}</td><td></td><td></td></tr>
        <tr><td><b>Users</b></td><td>{{n_users}}</td><td></td><td></td></tr>
    </table>
    {% if db_size %}
        <p><b>DB size</b>: {{db_size}}</p><br>
    {% endif %}
    <table id="table_dir_size">
        <thead><th>Folder</th><th>Size</th></thead>
        <tbody></tbody>
    </table>
    <p id="id_dir_sizes"><img src="/static/gif/FhHRx.gif"></p>

</div>


<!-- <h1>Lines</h1>
<button onclick="location.href='{% url 'geopy_lines'  %}'" type="button">Get infos on endpoints</button> -->

<!-- <h1>Groups</h1>
<h3>Create groups</h3>
<button onclick="location.href='{% url 'autocreate_groups'  %}'" type="button">Auto create groups</button> -->


<!-- <h1>Deserialize</h1>
<h3>Select file(s)</h3>
<form method="post" enctype="multipart/form-data"  action="{% url 'deserialize'%}">
    {% csrf_token %}
    <input type="file" name="file" multiple />
    <br />
    <input type="submit" value="Upload File" />

  </form> -->


</body>


<script>

function deletegroups_fct() {
    var r=confirm("Really delete groups?");
    if (r == true) {
        location.href='{% url 'delete_groups'  %}'
}
}

function deletephotos_fct() {
    var r=confirm("Really delete photos?");
    if (r == true) {
        location.href='{% url 'delete_photos'  %}'
}
}


function deleteemptytracks_fct() {
    var r=confirm("Really delete empty tracks (0 points, no waypoints)?");
    if (r == true) {
        location.href='{% url 'delete_empty_tracks'  %}'
}
}

function deletetracks_fct() {
    var r=confirm("Really delete tracks?");
    if (r == true) {
        location.href='{% url 'delete_tracks'  %}'
}
}

function deletewps_fct() {
    var r=confirm("Really delete waypoints?");
    if (r == true) {
        location.href='{% url 'delete_wps'  %}'
}
}
function deletelines_fct() {
    var r=confirm("Really delete lines?");
    if (r == true) {
        location.href='{% url 'delete_lines'  %}'
}
}



//infos on tracks
$(document).ready( function () {
    url='{% url 'all_files_report_json'  %}'
    $.getJSON(url,function(data){
        files_toimport=data["missing_tracks_existing_paths"]
        var n_files_to_import=files_toimport.length
        var text_tobeimported="<b>"+n_files_to_import+"</b>"

        if (n_files_to_import>0){
            text_tobeimported+= " ("+files_toimport[0]
            $("#id_tobeimported_files_button").prop("disabled",false)
        }
        if (n_files_to_import>1){
            text_tobeimported+= ", "+files_toimport[1]
        }
        if (n_files_to_import>2){
            text_tobeimported+= ", "+files_toimport[2]
        }
        if (n_files_to_import>3){
            text_tobeimported+= ", "+ (n_files_to_import-3) + " more"
        }
        if (n_files_to_import>0){
            text_tobeimported+= ")"
            $("#id_tobeimported_files_button").prop("title","Import "+text_tobeimported)
        }

        //TODO: add button to import these files
        $("#id_tobeimported_files").html(text_tobeimported)
        $("#id_imported_files").html(data["imported_tracks_existing_paths"].length)

        var text_blacklisted = data["blacklisted_paths"].length
        if (data["existing_blacklisted_paths"].length){
            text_blacklisted+=(" (out of which " + data["existing_blacklisted_paths"].length +" corresponding to existing tracks)" )
        }
        $("#id_blacklisted_files").html(text_blacklisted)
        $("#id_total_files").html(data["n_files_total"])
             
        //read_data_leaflet_alltracks(data,geojsonMarkerOptions,map,options)

    })
})

//infos on photos
$(document).ready( function () {
    url='{% url 'all_photos_report_json'  %}'
    $.getJSON(url,function(data){
        files_toimport=data["missing_photos_existing_paths"]
        var n_files_to_import=files_toimport.length
        var text_tobeimported="<b>"+n_files_to_import+"</b>"

        if (n_files_to_import>0){
            text_tobeimported+= " ("+files_toimport[0]
            $("#id_tobeimported_photos_button").prop("disabled",false)
        }
        if (n_files_to_import>1){
            text_tobeimported+= ", "+files_toimport[1]
        }
        if (n_files_to_import>2){
            text_tobeimported+= ", "+files_toimport[2]
        }
        if (n_files_to_import>3){
            text_tobeimported+= ", "+ (n_files_to_import-3) + " more"
        }
        if (n_files_to_import>0){
            text_tobeimported+= ")"
            $("#id_tobeimported_photos_button").prop("title","Import "+text_tobeimported)
        }

        //TODO: add button to import these files
        $("#id_tobeimported_photos").html(text_tobeimported)
        $("#id_imported_photos").html(data["imported_photos_existing_paths"].length)

        $("#id_total_photos").html(data["n_files_total"])
             
        //read_data_leaflet_alltracks(data,geojsonMarkerOptions,map,options)

    })
})

//infos on dirs
var dir_infos = false
$("#btn_tab_statistics").click(function(){
    if (!dir_infos){
        dir_infos = true
        url="{% url 'get_dir_sizes'  %}"
        $.getJSON(url,function(data){
            console.log(data)
            $("#id_dir_sizes").hide()
            $.each(data,function(folder,size){
                console.log(folder, size)
                $('#table_dir_size').find('tbody').append('<tr><td>'+folder+'</td><td>'+size+'</td></tr>');
            })
        })
    }
})

</script>

</html>

{%endblock%}


