{% extends "tracks/base_track.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}
{% load mathfilters %}

{%block stylesheet%}
    {{block.super}}
    <style>
        #map {
            height: 70%;
            width: 100%;
        }
        #btn_tab_details,#btn_tab_splits,#btn_tab_cardio,#btn_tab_logs,#btn_tab_files,#btn_tab_groups,#btn_tab_photos{
            display: none;
        }
        #hide_map_button,#btn_tab_waypoints,#btn_tab_laps{
            display: none;
        }
    </style>
{%endblock%}


{% block title %}
    <h1>Subtracks for <a href="{% url 'track_detail' track_id=track.pk %}?{{request}}">{{track.name_wo_path_wo_ext}}</a></h1>
{% endblock %}

{% block mapjs %}
    <script type="text/javascript">

        function map_init_basic (map, options) {

                opacity=1
                fillopacity=0.5
                weight=3

                //starting params for bounds
                max_lat=-400
                min_lat=400
                max_long=-400
                min_long=400

                //bounds
                min_lat=Math.min(min_lat,{{track.min_lat}})
                max_lat=Math.max(max_lat,{{track.max_lat}})
                min_long=Math.min(min_long,{{track.min_long}})
                max_long=Math.max(max_long,{{track.max_long}})

                var mapBounds = L.latLngBounds([[min_lat, min_long],[max_lat,max_long]]);
                map.fitBounds(mapBounds);
                init_map_base(map,options, mapBounds=mapBounds,add_basemaps=false,track_pk={{track.pk}})

                ///////////geoJSON

                var geojsonMarkerOptions = {radius: {{default_radius}},fillOpacity:fillopacity,stroke:true,opacity:opacity, weight:weight};
                url='{% url 'track_json_subtracks' track_id=track.pk %}?{{request}}'
                console.log(url)
                $.getJSON(url,function(data){

                    //read_data_leaflet_splits(data,"{{track.name_wo_path_wo_ext}}",geojsonMarkerOptions,map,options)
                    options["show_subtrack_name"]=true
                    {% if use_points == 1 %}
                        options["use_points"]=true
                    {%else%}
                        options["use_points"]=false
                    {%endif%}
                    console.log("hhhhhhh", options["use_points"])
                    read_data_leaflet_generic(data,geojsonMarkerOptions,map,options)

                    window.data=data

                    ///////// c3 plots
                   // c3 plots
                   button_html='<button id="button_plot" onclick="do_plots()" type="button">Show Plots</button>'

                   $("#plots_block").prepend(button_html)
                   $("#plots_block").prepend('<img id="waiting_gif" src="/static/gif/FhHRx.gif">')
                   $("#waiting_gif").hide()


                })

            }

        function do_plots(){

            $("#waiting_gif").show()
            $("#button_plot").hide()
            
            setTimeout(function(){ 
 

                colors=[]
                subtracks_num=[]
                subtracks_name=[]
                for (subtrack in data["Subtracks"]){
                    subtracks_num.push(data["Subtracks"][subtrack]["number"])
                    subtracks_name.push(data["Subtracks"][subtrack]["name"])
                    colors.push(data["Subtracks"][subtrack]["color"])
                }

                var width=550
                var height=200

                hide_absent_data(data,document)

                data_track=data["Track"]["points"]

                //add to c3plots
                xs=["Distance","DeltaTimeString","Distance","DeltaTimeString","Distance","DeltaTimeString","Distance","DeltaTimeString"]
                ids=['#c3_11','#c3_21','#c3_14','#c3_24','#c3_16','#c3_26','#c3_12','#c3_22']
                yys=["Speed","Speed","Altitude","Altitude", "Heartrate","Heartrate","Frequency","Frequency"]
                xlabels=["Distance(km)","Time","Distance(km)","Time","Distance(km)","Time","Distance(km)","Time"]
                ylabels=["Speed(km/h)","Speed(km/h)","Altitude(m)","Altitude(m)",  "Heartbeat(bpm)",  "Heartbeat(bpm)","Frequency","Frequency"]
                types=["scatter","scatter","scatter","scatter","scatter","scatter","scatter","scatter"]


                for (i=0;i<yys.length;i+=1){
                    console.log(xs[i],yys[i])
                    //substitute y column names with subtrack names for legend
                    console.log(data_track)
                    data_chart = convert_data_c3(data_track,y=yys[i], feature="Subtrack", feature_name="Subtrack")

                    if (i%2==0){
                        x_type="indexed"
                    }else{
                        x_type="time"
                    }

                    options={
                        "colors_":colors,
                        "x_label":xlabels[i],
                        "y_label":ylabels[i] ,
                        "bind_to":ids[i],
                        "type":types[i],
                        "show_legend":true,
                        x_type:x_type

                    }
                    var chart=c3plotjsondata(data_chart,xs[i],subtracks_name,options)
                }
                $("#waiting_gif").remove()
            
        }, 0); 

        }
    </script>
{% endblock %}

{% block form %}
    <div class="tabcontent" id="tab_edit">
        <div id="div_form">

            <form method="GET" id="searchform">
                Show points:
                <select name="use_points">
                    <option value=1 {%if use_points == 1 %} selected="selected" {%endif%}>Points</option>
                    <option value=0 {%if not use_points == 1 %} selected="selected" {%endif%}>Lines</option>
                </select>

                <button value="Refresh" id="submit_button">Refresh </button>
            </form>
        </div>
    </div>

{%endblock%}

{% block splits %}
{% endblock %}










