<html>

    {% load static %}

    <style>
        {% block stylesheet_base %}
            /* moved in custom css         */
        {% endblock %}
    </style>
    {% block stylesheet %}{% endblock %}


    <head>

        {% load leaflet_tags %}
        {% leaflet_js %}
        {% leaflet_css %}

        {% load mathfilters %}
        {% load svg %}

        <!-- favicon  -->
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        <!-- custom css -->
        <link rel='stylesheet' href="{% static 'css/custom/custom_style.css' %}" />

        <!--plotting libraries-->
        <script src="{% static 'js/external/d3.js' %}"></script> <!--BSD3 -->
         <script src="{% static 'js/external/c3.js' %}"></script> <!--MIT -->
        <link rel='stylesheet' href="{% static 'css/external/c3.css' %}" />
        <!-- exporting plots -->
        <script src="{% static 'js/external/saveSvgAsPng.js' %}"></script> <!--MIT -->
        <!--leaflet extensions-->
        <script src="{% static 'js/external/leaflet-providers.js' %}"></script> <!--BSD2 -->
        <script src="{% static 'js/external/Leaflet.fullscreen.min.js' %}"></script> <!--ISC -->
        <script src="{% static 'js/external/leaflet.groupedlayercontrol.js' %}"></script> <!--MIT-->
        <script src="{% static 'js/external/leaflet-heat.js' %}"></script> <!--BSD2 -->
        <link rel="stylesheet" href="{% static 'css/external/leaflet.fullscreen.css' %}"/>
        <link rel='stylesheet' href="{% static 'css/external/leaflet.groupedlayercontrol.css' %}" />
        <!-- custom scripts -->
        <script src="{% static 'js/custom/maps.js' %}"></script>
        <script src="{% static 'js/custom/map_fcts.js' %}"></script>
        <script src="{% static 'js/custom/plots.js' %}"></script>
        <script src="{% static 'js/custom/tables.js' %}"></script>
        <script src="{% static 'js/custom/tabs.js' %}"></script>
        <!--jquery and datatables-->
        <script src="{% static 'js/external/jquery-3.3.1.js' %}"></script> <!--BSD2 -->
        <script src="{% static 'js/external/jquery.dataTables.min.js' %}"></script> <!--MIT -->
        <script src="{% static 'js/external/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'js/external/dataTables.select.min.js' %}"></script>
        <!-- <script src="{% static 'js/dataTables.keyTable.min.js' %}"></script> -->
        <link rel="stylesheet" href="{% static 'css/external/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/buttons.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/select.dataTables.min.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/keyTable.dataTables.min.css' %}"> -->
        <!-- excel export of tables -->
        <script src="{% static 'js/external/buttons.html5.min.js' %}"></script>
        <script src="{% static 'js/external/jszip.min.js' %}"></script> <!--MIT -->

        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script> -->
        
        <!--interactive xml for track sources-->
        <script src="{% static 'js/external/simpleXML.js' %}"></script> <!--BSD-2 -->
        <link rel="stylesheet" href="{% static 'css/external/simpleXML.css' %}" /> 


        <!-- <script src="{% static 'js/chart.js' %}"></script> -->
        <!-- <script src="{% static 'js/chartjs-plugin-zoom.js' %}"></script> -->
        <!-- <script src="{% static 'js/c3-rect-zoom.js' %}"></script> -->
        <!-- <script src="{% static 'js/require.js' %}"></script> -->
        <!-- <script src="{% static 'js/vega@4.2.0' %}"></script> -->
        <!-- <script src="{% static 'js/vega-lite@3.0.0-rc4' %}"></script> -->
        <!-- <script src="{% static 'js/vega-embed@3.18.2' %}"></script> -->
        <!-- <script src="{% static 'js/jstree.min.js' %}"></script> -->
        <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">-->
        <!--<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">-->
        <!--<script type="text/javascript" src= "https://code.jquery.com/jquery-1.12.4.js"></script>-->
        <!--<script type="text/javascript" src= "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>-->
        <!--<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>-->




        <!-- <link rel="stylesheet" href="{% static 'css/js_tree_style.min.css' %}" /> -->

        <!-- <link rel="stylesheet" href="{% static 'css/c3-rect-zoom.css' %}"/> -->

        <!-- <script src="{% static 'js/require.js' %}"></script>
        <script>    
            var c3 = require('c3')
            require('c3-rect-zoom').patchC3(c3)
        </script> -->

        <!-- <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'js/dygraph.js' %}"></script> -->
        <!-- <script src="{% static 'js/synchronizer.js' %}"></script>

        <link href="{% static 'css/leaflet.fullscreen.css' %}" rel='stylesheet'/>
       <link href="{% static 'css/dygraph.css' %}" rel='stylesheet'/> -->

       {% block head_title %}
            <title>GPS Tracks</title>
        {% endblock %}
       {% block mapjs %}{% endblock %}
       {% block tablejs %}{% endblock %}
    </head>

    <body>
        <header id="header" class="header">
            <ul class="ul_topbar">
                <li class="li_topbar"><a class="a_topbar" href="{% url 'index'  %}" title="Homepage">Index</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'emptymap'  %}" title="Empty map">Map</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'track_index' %}?how_many=5" title="List of tracks">Tracks</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'waypoints_map'  %}?no_search=1" title="List of waypoints">Waypoints</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'group_index'  %}" title="List of groups of tracks">Groups</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'photos_show'  %}?no_search=1" title="List of photos">Photos</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'line_index' %}" title="List of lines">Lines</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'geojson_index' %}" title="List of GeoJSON objects">Geojson</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'user_index' %}" title="List of users">Users</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'import' %}" title="Import page for tracks and photos">Import</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'help' %}" title="Help">Help</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'logs' %}" title="Logs for everything done by the program">Logs</a></li>
                {% if options_pk > 0 %} <li  class="li_topbar"><a  class="a_topbar" href="{% url 'edit_options' id=options_pk%}" title="Edit Options">Options</a></li> {%endif%}
                <li class="li_topbar"><a class="a_topbar" href="/admin" title="Allows to edit at objects at low level. At your own risk! Default username: admin; defualt password: admin ">Admin</a></li>
                <li class="li_topbar"><a class="a_topbar" href="{% url 'about' %}" title="About">About</a></li>
                {% if show_todo %}<li class="li_topbar"><a class="a_topbar" href="{% url 'todo' %}">TODO</a></li>{% endif %}
            </ul>
            <button style="float:right;height:10px;" onclick='$(".ul_topbar").toggle()'></button>
        </header>

        <div class="spacer">
                &nbsp 
        </div>


        {% if messages %}
        <div class="messages">
            <font color="red">
                {% for message in messages %}
                    {{ message |linebreaks}}
                {% endfor %}
            </font>
        </div>
        {% endif %}


        <main>
            {% block buttons %}{% endblock %}
            {% block title %}{% endblock %}
            {% block tab_init %}{% endblock %}
            {% block map %}{%endblock%}
            {% block form0 %}{%endblock%}
            {% block table0 %}{% endblock %}
            {% block plots_title%}{%endblock%}
            {% block plots %}{% endblock %}
            {% block table %}{% endblock %}
            {% block splits %}{% endblock %}
            {% block laps %}{% endblock %}
            {% block subtracks %}{% endblock %}
            {% block cardio %}{% endblock %}
            {% block logs %}{% endblock %}
            {% block content %}{% endblock %}
            {% block form %}{%endblock%}
            {% block base_js %} {% endblock %}
            {% block js %}{% endblock %}
            {% block c3js%}{% endblock %}
            {% block waiting_js%}
                <script>
                    // from https://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery
                    $body = $("body");
                    $(document).on({
                    ajaxStart: function() { $body.addClass("loading");    },
                    ajaxStop: function() { $body.removeClass("loading"); }
                    });
                    //set global vars
                    var True=true
                    var False=false
                    var None=undefined
                    var hand_markers=[]
                    window.global_tracks = {}
                    window.selected_tracks = []
                </script>
            {% endblock %}


        </main>


    </body>
</html>