{% extends "base/base_map.html" %}
{% load crispy_forms_tags %}


        {% load leaflet_tags %}
        {% load static %}
        {% load mathfilters %}

{%block stylesheet %}
    <style>
            #map {
            height: 78%;
            width: 100%;
        }
        #hide_map_button {
            display: none;
        }
    </style>
    
{% endblock %}

{% block head_title %}
    <title>Map</title>
{% endblock %}


{% block content %}

    {{ form.media }}

    {{ form.non_field_errors }}
    {{ form.errors }}

    <div class="column">
        {% if address %}
            Address:    {{address}}
        {% endif %}
            <form action="" method="get">
            Look for <input class="searchfield" id="searchbox_name" name="location_name" type="text" value="{{location_name}}" placeholder=""/>
            <input type="submit" value="Submit">
        </form>
        {% if lat and long %}
            <a href="{% url 'track_index' %}?lat={{lat}}&lng={{long}}&how_many=20&exclude_excluded_groups=1">Nearby tracks</a>
        {% endif %}
    </div>
    <div class="column">
        <h3>
            Quick Search 
            <button id="refresh_tracks">Search</button>
            <button id="clear_tracks">Clear</button>
            <span id="n_tracks"></span>
        </h3>
        <input type="checkbox" id="auto_refresh_tracks" name="auto_refresh_tracks">
        <label for="auto_refresh_tracks">Auto search</label>
        <input type="checkbox" id="auto_clear_tracks" name="auto_clear_tracks">
        <label for="auto_clear_tracks">Auto clear</label><br>
        </h3>
    </div>
    <div class="column">
        <table>
            <tr>
                <td>Priority</td><td>
                <select  id="priority_how" name="priority_how">
                    <option value=''></option>
                    <option value='gt' selected>></option>
                    <option value='eq'>=</option>
                    <option value='lt'><</option>
                </select>
                <input style="width:40px;" class="searchfield" id="priority" name="priority" type="number" value="3" placeholder="Priority"/></td>
            </tr>                        
        
        <tr>
            <td>
                <input checked type="checkbox" name="exclude_excluded_groups" id="exclude_excluded_groups" value=1 >Exclude excluded groups
            </td>
        </tr>

        <tr>
            <td>Deleted Tracks</td>
            <td><select  id="deleted_tracks" name="deleted_tracks">
                    <option value='' selected >Hide deleted tracks</option>
                    <option value='1'>Only deleted tracks</option>
                    <option value='2'>Include deleted tracks</option>
            </select></td>
        </tr>

        <tr>
            <td>Max tracks as lines</td>
            <td><input style="width:60px;" class="searchfield" id="max_n_tracks" name="max_n_tracks" type="number" value="{{max_n_tracks}}"/></td>
        </tr>

        </table>
    </div>

{% endblock %}

{% block js %}

<script type="text/javascript">

    function map_init_basic (map, options) {

        {% if min_lat %}
        var mapBounds = L.latLngBounds([
                            [{{min_lat}}, {{min_long}}],
                            [{{max_lat}}, {{max_long}}],
                        ]);
        {%else%}

        var mapBounds = L.latLngBounds([
                            [{{lat}}-0.1, {{long}}-0.1],
                            [{{lat}}+0.1, {{long}}+0.1],
                        ]);
        {%endif%}

        init_map_base(map,options,bounds=mapBounds)

        window.plotted_tracks=[]
        window.plotted_tracks_ids=[]

        var base_url="{% url 'tracks_as_lines_json'%}"

        //move or zoom map
        map.on("moveend", function () {
            //auto search on move or zoom map
            if ($("#auto_refresh_tracks").is(':checked')){
                refresh_tracks(map,base_url, get_search_params())
                //$("#refresh_tracks").prop('disabled', true);
            //search with button
            }else{
                //$("#refresh_tracks").prop('disabled', false);
            }
        })

        // click on search tracks
        $("#refresh_tracks").click(function(e){
            refresh_tracks(map,base_url, get_search_params())
            //$("#refresh_tracks").prop('disabled', true);
        });

        // click on clear tracks
        $("#clear_tracks").click(function(e){
            clear_tracks(map)
            //$("#refresh_tracks").prop('disabled', false);
        });

        //TODO: show tracks nearby, not only avg lat long?
    }

    function get_search_params(){
        var search_params={}
        var priority_how = $("#priority_how").val()
        var priority = $("#priority").val()
        
        if (priority != undefined && priority_how){
            search_params["priority_how"]=priority_how
            search_params["priority"]=priority
        }
        if($("#exclude_excluded_groups").is(":checked")){
            search_params["exclude_excluded_groups"]=1
        }

        search_params["deleted_tracks"]=$("#deleted_tracks").val()
        search_params["max_n_tracks"]=$("#max_n_tracks").val()
        return search_params
    }
</script>



{%endblock%}


