{% extends "base/base.html" %}

{% block content %}
<h2>TODO</h2>
<h3>High</h3>
<ul>
    <li>Test</li>
    <li>master development & script for release-> V 0.0.1</li>
    <li>Readme with screenshots</li>
    <li>travis.ci https://github.com/MicroPyramid/opensource-job-portal/blob/master/.travis.yaml;</li>
    <li>codacy;coveralls;codecov;circleci;lgtm;docs;pypi;codeclimate;requires.io</li>
    <li>include db.sqlite3 in </li>
    <li>license https://github.com/MicroPyramid/opensource-job-portal/blob/master/LICENSE https://github.com/ansible/awx/blob/devel/LICENSE.md</li>
    <li>CHANGELOG</li>
    <li>Makefile https://github.com/django-oscar/django-oscar/blob/master/Makefile</li>
    <li>help & about</li>
</ul>

<h3>Medium</h3>
<ul>
    <li>many tracks add heartrate if present, and plots</li>
    <li>in track, check if it is blacklisted by any rule</li>
    <li>absolute paths in path groups if not in the media folder</li>
    <li>track groups: put some infos</li>
    <li>http://127.0.0.1:8000/splits_laps/segments/9523/?</li>
    <li>hide buttons in track when no splits etc</li>
    <li>group choice autocomplete</li>
    <li>http://127.0.0.1:8000/tracks/track/11399/ Error in set_rules_groups: set_attributes() got multiple values for argument 'updated_tracks'</li>
    <li>save string with </li>
    <li>tabs</li>
    <li>photos manual switch poition type</li>
    <li>kml source: fastkml; xml_generic</li>
    <li>group running from rules</li>
    <li>bloack track selection if nothing is selected</li>
    <li>check set_attributes only if auto_update proerties</li>
    <li>fix group add remove track</li>
    <li>remove all no_search</li>
    <li>select only some geojson to plot</li>
    <li>quick form add track to group</li>
    <li>ona dding new track, group json is not updated</li>
    <li>track tabs</li>
    <li>waypoint map and table interact</li>
    <li>rules to create groups</li>
    <li>take photos from external directory</li>
    <li>ajax x single wp and photo</li>
    <li>topbar as large as screen: when larger, put elements in drop down</li>
    <li>docker</li>
    <li>reset button leaflet--> need to pass mapBounds in all views</li>
    <li>fix serialize-> option do download file</li>
    <li>export line as json --> add in serialize</li>
    <li>export gpx--> segments</li>
    <li> rivedere segmenti, e farci sezione apposita con statistiche</li>
    <li>group short view without map </li>
    <li>fastkml for kml exporting</li>
    <li>create line with https://django-leaflet.readthedocs.io/en/latest/widget.html </li>
    <li> choose wchich photo is background -pass background image in track view</li>
    <li>export page with excel, gpx, kml, geojson</li>
    <li> add hr and freq to list of tracks if present</li>
    <li>tests</li>
    <li>export zip package gpx + photos</li>
    <li>photos slideshow</li>
    <li>splits many tracks</li>
    <li>overlapping features: draw icons; fix photos: popup photos side by side</li>
    <li>set track group via api</li>
    <li>heat map altitudes</li>
    <li>similar tracks in django</li>
    <li>global objects in all maps</li>
    <li>add page titles to all templates</li>
    <li>timeline: tracks, photos, every day</li>
    <li>duration and speed summed over each segment: netto e lordo</li>
    <li>clustering looking at photos one after the other</li>
    <li>many tracks  do everythin in ajax and add option to remove/add tracks</li>
    <li>laps edit directly indices</li>
    <li>
        https://datatables.net/extensions/keytable/
        https://www.gyrocode.com/articles/jquery-datatables-how-to-navigate-rows-with-keytable-plugin/
    </li>
    <li>add geopy in ajax in track list with lat and long</li>
    <li>tracksplit - wps and photos?</li>
    <li>better visualization of google history: description for segments http://127.0.0.1:8000/tracks/track/9280/?</li>
    <li>clean js</li>
    <li>reduce points global done at db level, not only in output</li>
    <li>search track removing unicode https://stackoverflow.com/questions/38167273/python-regular-expression-to-remove-non-unicode-characters</li>
    <li>https://leafletjs.com/plugins.html#printexport</li>
    <li>test tracks con waypoints</li>
    <li>fix google timeline-> redicrect from stackoverflow</li>
    <li>npm</li>
    <li>help for google drive & form to upload client_secrets.json; also utry to ue something else than quickstart</li>
</ul>
<h2>Low priority</h2>
<ul>
    <li>plot for pace?</li>
    <li>download from polar </li>
    <li>pwx </li>
    <li>fit/fat</li>
    <li>custom user https://wsvincent.com/django-tips-custom-user-model/</li>

</ul>
{% endblock %}

<div class="container">
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#tab_plots" role="tab" data-toggle="tab">Plots</a></li>
      <li>               <a href="#tab_details" role="tab" data-toggle="tab">Details</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
      <div class="tab-pane fade  active in" id="tab_plots"></div>
      <div class="tab-pane fade" id="tab_""></div>
  </div>