{% extends "base/base.html" %}

{% block content %}
<h2>TODO</h2>
<ul>
    <li>reset button leaflet--> need to pass mapBounds in all views</li>
    <li>fix serialize-> option do download file</li>
    <li>export line as json, show line with tracks, convert to gpx</li>
    <li>group short view without map </li>
    <li>download from polar </li>
    <li>pwx </li>
    <li>help page</li>
    <li>fit/fat</li>
    <li>fastkml for kml exporting</li>
    <li>custom user https://wsvincent.com/django-tips-custom-user-model/</li>
    <li>create line with https://django-leaflet.readthedocs.io/en/latest/widget.html </li>
    <li> choose wchich photo is background -pass background image in track view</li>
    <li>export page with excel, gpx, kml, geojson</li>
    <li> add hr and freq to list of tracks if present</li>
    <li>tests</li>
    <li>export zip package gpx + photos</li>
    <li>photos slideshow</li>
    <li>splits many tracks</li>
    <li>link next and previous track</li>
    <li>overlapping features: draw icons; fix photos: popup photos side by side</li>
    <li>set track group via api</li>
    <li>heat map altitudes</li>
    <li>similar tracks in django</li>
    <li>global objects in all maps</li>
    <li>add page titles to all templates</li>
    <li>check that import other extensions works</li>
    <li>add waypoint.track2 everywhere</li>
    <li>timeline: tracks, photos, every day</li>
    <li>duration and speed summed over each segment: netto e lordo</li>
    <li>clustering looking at photos one after the other</li>
    <li>many tracks  do everythin in ajax and add option to remove/add tracks</li>
    <li>laps edit directly indices</li>
    <li>
        https://datatables.net/extensions/keytable/
        https://www.gyrocode.com/articles/jquery-datatables-how-to-navigate-rows-with-keytable-plugin/
    </li>
    <li>add geopy in ajax in track list with lat and long</li>
    <li>tracksplit - wps and photos?</li>
    <li>better visualization of google history: description for segments http://127.0.0.1:8000/tracks/track/9280/?</li>
    <li>rebuild venv, clean requirements, clean js</li>
    <li>reduce points global done at db level, not only in output</li>
    <li> waypoint merge map and table?</li>
    <li>fix remove initial ppoints http://127.0.0.1:8000/tracks/track/8215/</li>
    <li>plot for pace?</li>
    <li>search track removing unicode https://stackoverflow.com/questions/38167273/python-regular-expression-to-remove-non-unicode-characters</li>
    <li>initial index http://127.0.0.1:8000/tracks/track/11225/</li>
    <li>https://leafletjs.com/plugins.html#printexport</li>
    <li>test tracks con waypoints</li>
    <li>fix google timeline-> redicrect from stackoverflow</li>
    <li>npm</li>
    <li>draw_png</li>
    <li>11216</li>
    <li>help for google drive & form to upload client_secrets.json; also utry to ue something else than quickstart</li>

{% endblock %}