/* slideshow */

.photo_container {
    position: relative;
    /* height: 80vh; */
  }
  
  .thumbnail_container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    height: 80vh;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev_btn,
  .next_btn {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: gray;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Position the "next button" to the right */
  .next_btn {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev_btn:hover,
  .next_btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    /* color: #f2f2f2; */
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    /* text-align: center; */
    /* background-color: #222; */
    padding: 20px 16px;
    /* color: white; */
  }
  
  .row_slideshow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column_slideshow {
    float: left;
    width: 19%;
    margin-left: 1%;
    height: 0;
    padding-bottom: 27%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 1;
  }
  
  .active{
    opacity: 1;
    border: 5px solid black;
  }

  .demo:hover:not(.active) {
    opacity: 1;
    border: 5px solid #555;
  }